@model Message

<h1>Edit Message</h1>

<form method="post" action="/users/@Model.Id/messages">
    <div class="form-group">
        <label for="Content"></label>
        <input type="text" id="Content" name="Content" value="@Model.Content" />
    </div>
    <br />
    <button type="submit">Update Message</button>

</form>