<h1>Create a New User Profile</h1>

<form method="post" action="/users">
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <br />
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
    </div>
    <br />
    <button type="submit">Create Profile</button>

</form>