@model User

<h1>User Details</h1>
<br />

<p>Name: @Model.Name</p>
<p>Username: @Model.Username</p>

<p>Messages:</p>
@foreach(var message in Model.Messages)
{
    <p>@message.Content</p>
}

<form method="get" action="/users/@Model.Id/messages/new">
    <button type="submit">Add a Message</button>
</form>
<br />
<form method="post" action="/users/delete/@Model.Id">
    <button "submit" onclick="return confirm('Are You Sure You Want To Delete Profile For @Model.Name?')">Delete Profile</button>
</form>